@use '~styles/verticalCentering' as *;

.Main {
  @extend %verticalCentering;

  text-align: center;
  max-width: 225px;
}

.Main-Menu {
  text-align: left;
}

.Main-MenuItem,
.Main-SubMenuItem {
  padding: 5px;
}
