.SeaChart {
  display: flex;
  flex-wrap: wrap;
  width: 50px * 10;
  border: 1px solid black;
}

.SeaChart-Row {
  display: flex;
}

@media (max-width: 1050px) {
  .SeaChart_inactive {
    display: none;
  }
}
