@import '~styles/screens';

.SeaBlock {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background: deepskyblue;

  @media only screen and (max-width: 1050px) {
    width: 4.5vw;
    height: 4.5vw;
  }

  @media #{$phone} {
    width: 9vw;
    height: 9vw;
  }
}

.SeaBlock_missFire {
  background: aquamarine;
}

.SeaBlock-Ship {
  background: blue;
}


.SeaBlock-Ship_killed {
  background: red;
}
