.Game {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.Game-Control {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.Game-Sea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
