@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@layer base {
  body {
    @apply bg-navy-950 text-white antialiased;
  }
}

#root {
  @apply min-h-screen;
}
